asn1crypto==0.24.0
backports-abc==0.5
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
configobj==5.0.6
cryptography==2.7
enum34==1.1.6
futures==3.2.0
idna==2.8
ipaddress==1.0.22
lxml==4.3.4
Mopidy==2.2.2
Mopidy-Iris==3.39.0
Mopidy-Local-Images==1.0.0
Mopidy-Mopify==1.6.1
Mopidy-Spotify==3.1.0
Mopidy-Spotify-Web==0.3.0
pycairo==1.18.1
pycparser==2.18
PyGObject==3.32.2
Pykka==1.2.1
pyOpenSSL==19.0.0
pyspotify==2.0.5
requests==2.22.0
schedule==0.6.0
singledispatch==3.4.0.3
six==1.12.0
spotipy==2.4.4
tornado==4.5.3
uritools==2.2.0
urllib3==1.24.1
