{% extends "base.html" %}

{% block app_content %}
<p id="album"/>
<p id="title"/>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for tag in tags %}
    <tr>
        <td>{{ tag.name or '' }}</td>
        <td><a href="{{ url_for('tags.play', id=tag.id) }}">Play</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    setTimeout(getCurrentPlaying,5000);
});

function getCurrentPlaying() {
    $.ajax({
        url: "/tags/api/currentsong",
        type: "GET",
        success: function(data) {
            $('#album').html(data.status.album);
            $('#title').html(data.status.title);
        },
        complete:function(data) {
            setTimeout(getCurrentPlaying,5000);
        }
    });
}





</script>
{% endblock %}