{% extends "base.html" %}

{% block app_content %}
<div id="control" class="panel panel-success text-center hidden">
    <div class="panel-heading">
        <h2 id="currentsong">...</h2>
    </div>
    <div class="panel-body">
        <a id="prev" class="btn btn-default" href="#">
            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
        </a>
        <a id="pause" class="btn btn-default" href="#">
            <span id="pause-icon" class="glyphicon glyphicon-pause" aria-hidden="true"></span>

        </a>
        <a id="stop" class="btn btn-default" href="#">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
        </a>
        <a id="next" class="btn btn-default" href="#">
            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </a>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for tag in tags %}
    <tr>
        <td>{{ tag.name or '' }}</td>
        <td><a class="btn btn-primary play" href="#" data-tag="{{ tag.uid }}">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    getCurrentPlaying();
});

function updateStatus(status) {
    if (jQuery.isEmptyObject(status)) {
        $("#control").addClass('hidden')
    } else {
        $("#control").removeClass('hidden');
        $('#currentsong').html(status.album + " - " + status.title);
    }
}

function getCurrentPlaying() {
    $.ajax({
        url: "/tags/api/currentsong",
        type: "GET",
        statusCode: {
            404: function(response) {
                console.log('ajax.statusCode: 404');
            },
            500: function(response) {
                console.log('ajax.statusCode: 500');
            }
        },
        success: function(data) {
            updateStatus(data.status);
        },
        complete:function(data) {
            setTimeout(getCurrentPlaying,5000);
        }
    });
}

$('.play').click(function(){
    var uid = $(this).data('tag');
    play(uid);
    return false;
});

function play(uid) {
    $.ajax({
        url : "/tags/api/play/" + uid,
        type: "GET",
        success: function(data) {
            updateStatus(data.status);
        }
    });
}

$('#pause').click(function(){
    pause();
    return false;
});

function pause() {
    $.ajax({
        url : "/tags/api/pause",
        type: "GET",
        success: function(data) {
            updateStatus(data.status);
            if ($("#pause-icon").hasClass('glyphicon-pause')) {
                $("#pause-icon").removeClass("glyphicon-pause");
                $("#pause-icon").addClass("glyphicon-play");
            } else {
                $("#pause-icon").removeClass("glyphicon-play");
                $("#pause-icon").addClass("glyphicon-pause");
            }
        }
    });
}

$('#stop').click(function(){
    stop();
    return false;
});

function stop() {
    $.ajax({
        url : "/tags/api/stop",
        type: "GET",
        success: function(data) {
            updateStatus(data.status);
        }
    });
}

$('#next').click(function(){
    next();
    return false;
});

function next() {
    $.ajax({
        url : "/tags/api/next",
        type: "GET",
        success: function(data) {
            updateStatus(data.status);
        }
    });
}

$('#prev').click(function(){
    prev();
    return false;
});

function prev() {
    $.ajax({
        url : "/tags/api/prev",
        type: "GET",
        success: function(data) {
            updateStatus(data.status);
        }
    });
}
















</script>
{% endblock %}